@if (post) {
  <div class="container py-5">
    <article class="mb-5">
      <header class="text-center mb-4">
        <h1 class="display-4 mb-3">{{post.title}}</h1>
        <div class="d-flex justify-content-center align-items-center mb-4">
          <div class="avatar mx-3">
            <img src="assets/image/sanjuprofile.png" alt="sanju">
          </div>
          <div class="text-start">
            <h6 class="mb-0">{{'Sanjay Khatri'}}</h6>
            <small class="text-muted">
              {{post.updatedAt | convertToStandardDateTime | date:'medium'}}
            </small>
          </div>
        </div>
        @if (post.imageUrl) {
          <img [src]="post.imageUrl" [alt]="post.title" class="img-fluid rounded shadow-lg mb-4">
        }
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="content">
            <p class="lead text-justify fs-5 fs-sm-6 fs-md-7 fs-lg-8">{{post.description}}</p>
          </div>

          <div class="content">
            <p class="lead text-wrap text-break fs-5 fs-sm-6 fs-md-7 fs-lg-8 px-3" [innerHTML]="post.detailDescription"></p>
          </div>

          <div class="tags mt-4">
            @for (tag of post.tags; track tag) {
              <span class="badge bg-primary me-2">{{tag}}</span>
            }
          </div>

          <hr class="my-5">

          <section class="comments">
            <h3 class="mb-4">Comments ({{post.comments?.length}})</h3>

            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Leave a Comment</h5>
                <form [formGroup]="blogForm">
                  <div class="mb-3">
                      <textarea
                        class="form-control"
                        rows="4"
                        formControlName="comment"
                        placeholder="Write your comment...">
                      </textarea>
                    <div *ngIf="isInvalid('comment')" class="text-danger text-sm-start">
                      * Comment is required.
                    </div>
                  </div>

                  <div class="mb-3">
                    <input
                      class="form-control"
                      formControlName="authorName"
                      placeholder="Author Name..."/>
                    <div *ngIf="isInvalid('authorName')" class="text-danger text-sm-start">
                      * Author Name is required.
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary" (click)="addComment()">Post Comment</button>
                </form>
              </div>
            </div>


            @for (comment of post.comments; track comment.commentId; let index = $index) {
              <div class="card mb-3">
                <div class="card-body">
                  <div class="d-flex mb-3">
                    <img src="https://picsum.photos/seed/css/800/400"
                         class="rounded-circle me-2" width="40" height="40">
                    <div>
                      <h6 class="mb-0">{{comment?.author?.name}}</h6>
                      <small class="text-muted">
                        {{comment.date | convertToStandardDateTime | date:'medium'}}
                      </small>
                    </div>
                  </div>
                  <p class="card-text">{{comment.content}}</p>
                  <button class="btn btn-sm"
                          [class.btn-primary]="likedComments[comment.commentId]"
                          [class.btn-outline-primary]="!likedComments[comment.commentId]"
                          (click)="increaseLikes(comment.commentId, $event)">
                    <i class="bi"
                       [class.bi-hand-thumbs-up-fill]="likedComments[comment.commentId]"
                       [class.bi-hand-thumbs-up]="!likedComments[comment.commentId]"
                       [@likeAnimation]="animationStates[comment.commentId] || 'inactive'"></i>
                    {{ comment?.likes || 0 }}
                  </button>
                </div>
              </div>
            }
          </section>
        </div>
      </div>
    </article>
  </div>
}
