<div class="offset-11">
  <button class="btn btn-sm btn-outline-primary" ngxPrint
          [useExistingCss]="true"
          [printSectionId]="'contentToPrint'">
    <i class="fas fa-print mr-2"></i> Print
  </button>
</div>

<div class="container" id="contentToPrint" style="text-align: justify">
  <div class="row">
    <div class="col-sm-4">
      <div class="profile-header">
        <img src="https://media.licdn.com/dms/image/v2/D5603AQE6gzXAs0m3GA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1708078794359?e=1740614400&v=beta&t=hk3W8ZLT1-QJrOKKBlwW2q_xbDwo83fONFeIzR6OOPU" alt="Sanjay Khatri" class="profile-img">
        <h2>Sanjay Khatri</h2>
        <p>I am a good learner and always interested in doing complex work.</p>
      </div>
      <div class="personal-details">
        <h4>Personal Details</h4>
        <p><i class="fas fa-user"></i> Sanjay Khatri</p>
        <p><i class="fas fa-envelope"></i> {{ 'khatrisanjay804@gmail.com' }}</p>
        <p><i class="fas fa-phone"></i> 9861494803</p>
        <p><i class="fas fa-map-marker-alt"></i> Kathmandu, Bāgmatī</p>
      </div>

      <div class="sidebar">
        <div class="contact-info">
          <p><i class="fas fa-phone"></i> 9861494803</p>
          <p><i class="fas fa-map-marker-alt"></i> Kathmandu, Bāgmatī</p>
          <p><i class="fab fa-linkedin"></i> <a href="https://linkedin.com/in/khatri-sanjay" target="_blank">linkedin.com/in/khatri-sanjay</a></p>
        </div>
        <div class="skills">
          <h5>Skills</h5>
          <div class="skills-container">
            <span class="skill-badge">Angular CLI</span>
            <span class="skill-badge">Angular</span>
            <span class="skill-badge">Spring Boot</span>
            <span class="skill-badge">JavaScript</span>
            <span class="skill-badge">TypeScript</span>
            <span class="skill-badge">Git</span>
            <span class="skill-badge">HTML</span>
            <span class="skill-badge">CSS</span>
            <span class="skill-badge">PHP</span>
            <span class="skill-badge">C Programming</span>
            <span class="skill-badge">Core Java</span>
            <span class="skill-badge">Microsoft SQL Server</span>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-8">
      <div class="content-section">
        <h4>Profile</h4>
        <p>Namaste, I am Sanjay Khatri, a highly motivated and results-oriented developer with over one year of experience in Java and Angular. Eager to contribute my strong technical skills, problem-solving ability, and collaborative spirit to a dynamic team. I have a solid understanding of both front-end and back-end development, proficient in Angular for building interactive and user-friendly interfaces, and Java for constructing robust and scalable backend systems.</p>
      </div>

      <div class="content">
        <h2>Employment</h2>
        <div class="job">
          <div class="d-flex justify-content-between">
            <h5>Software Developer</h5>
            <p class="date">Nov 2022 - Present</p>
          </div>
          <p class="company">SB Solutions Pvt. Ltd., Kathmandu, Nepal</p>
          <p>As a Developer at SB Solution:</p>
          <ul class="disc">
            <li>Engaged in the enhancement of the 'Loan Management System,' optimizing loan processes for various commercial banks.</li>
            <li>Collaborated with cross-functional teams to enhance project efficiency and meet delivery timelines.</li>
          </ul>
          <p><strong>Skills Developed:</strong> Angular, TypeScript, JavaScript, Java Spring Boot, Agile methodology, testing, and debugging.</p>
        </div>
        <div class="job">
          <div class="d-flex justify-content-between">
            <h5>Student Internship</h5>
            <p class="date">Apr 2022 - Oct 2022</p>
          </div>
          <p class="company">Aadim Innovation, Kathmandu, Nepal</p>
          <p>During my internship at Aadim Innovation, I gained foundational knowledge in Angular, TypeScript, JavaScript, and various software development methodologies.</p>
          <p><strong>Internship Highlights:</strong> Developed skills in Angular, JavaScript, and testing techniques.</p>
        </div>
      </div>
    </div>
  </div>

</div>
