<div class="offset-10 mb-2">
  <button class="btn btn-outline-primary" ngxPrint
          [useExistingCss]="true"
          [printSectionId]="'contentToPrint'">
    <i class="fas fa-print mr-2"></i> Print
  </button>
</div>


<div class="container my-3 text-justify" id="contentToPrint">
  <div class="text-center resume-header">
    <h1 class="fw-bold">{{ personalData.name | uppercase }}</h1>

    <ul class="inline-list">
      <li class="list-item">
        <i class="bi bi-telephone"></i>
        +977-{{ personalData.phoneNumber }}
      </li>

      <li class="list-item">
        <i class="bi bi-envelope"></i>
        {{ personalData.email }}
      </li>

      <li class="list-item">
        <i class="bi bi-globe"></i>
        <a href="{{ personalData.socialProfiles.personalWebsite }}" target="_blank" class="link-style">
          {{ personalData.socialProfiles.personalWebsite }}
        </a>
      </li>
    </ul>

    <ul class="inline-list">
      <li class="list-item">
        <i class="bi bi-linkedin"></i>
        <a href="{{ personalData.socialProfiles.linkedIn }}" target="_blank" class="link-style">
          {{ personalData.socialProfiles.linkedIn }}
        </a>
      </li>
    </ul>

    <ul class="inline-list">
      <li class="list-item">
        <i class="bi bi-geo-alt"></i> Bhaktapur, Nepal
      </li>
    </ul>
  </div>

  <hr>
<!--  <h4 class="section-title">SUMMARY</h4>-->
  <p>
    {{personalData.summaryMessage}}
  </p>

  <h4 class="section-title">EDUCATION</h4>
  <div class="education-container">
    @for (education of personalData.education; track education) {
      @if (education.course) {
        <div class="education-item">
          <div class="institution">{{education.institutionName | uppercase}}</div>
          <div class="degree">{{ education.course }}</div>
        </div>
      }
    }
  </div>

  <h4 class="section-title">SKILLS</h4>
  <div><strong>Technical Skills</strong></div>
  <ul class="skills-list">
    @for(skills of skillsData; track skills) {
      <li>
        <strong>{{skills.title}}:</strong> {{skills.details}}
      </li>
    }
  </ul>

  <h4 class="section-title">PROFESSIONAL EXPERIENCE</h4>
  @for (experience of experience; track experience) {
    <div class="company-header">
      <h5><u>{{experience.company.name}}</u></h5>
      <div>{{experience.company.duration}}</div>
    </div>
    <div class="role"><strong>{{ experience.company.role }}</strong></div>
    @if (experience.company.description) {
      <p>{{experience.company.description}}</p>
    }

    @if (!experience.company.projects.length) {
        <app-coming-soon></app-coming-soon>
    }

    @for (project of experience.company?.projects; track project) {
      <div class="project-title"><strong><u>{{ project.title }}</u></strong></div>
      <div class="role"><strong>Role: {{project.role}}</strong></div>
      @if (project.description) {
        <div>{{project.description}}</div>
      }
      <ul>
        @for (responsibility of project.responsibilities; track responsibility) {
          @if (responsibility.title && responsibility.description) {
            <li>
              <strong>{{responsibility.title}} :</strong>
              {{responsibility.description}}
              <ul>
                @for (details of responsibility.details; track details) {
                  <li>{{details}}</li>
                }
              </ul>
            </li>
          } @else {
            @for (details of responsibility.details; track details) {
              <li>{{details}}</li>
            }
          }
        }
      </ul>
    }
  }

  <h4 class="section-title">PERSONAL PROJECTS</h4>
  <ul class="personal-projects">
    @for (project of projects; track project) {
      <li>
        <strong>{{project.projectName}}:</strong>
        {{project.shortDescription}}
      </li>
    }
  </ul>
</div>
