<div class="show-more-container">
  @if (!isTextTruncated()) {
    <span class="text-content">{{ text() }}</span>
  }

  @if (isTextTruncated() && !showMore()) {
    <span class="text-content">
      {{ truncatedText() }}
      <span class="ellipsis">...</span>
      <button
        type="button"
        class="toggle-button"
        (click)="toggleShowMore()"
        aria-expanded="false">
        show more
      </button>
    </span>
  }

  @if (isTextTruncated() && showMore()) {
    <span class="text-content expanded">
      {{ text() }}
      <button
        type="button"
        class="toggle-button"
        (click)="toggleShowMore()"
        aria-expanded="true">
        show less
      </button>
    </span>
  }
</div>
