<div class="container-fluid py-4">
  <div class="row mb-4">
    <div class="col">
      <h2>Blogs Management</h2>
      <p class="text-muted">Manage your system blog you have post.</p>
    </div>
  </div>
</div>
<app-dynamic-table
  [data]=data
  [columns]="columns"
  [config]="tableConfig"
  [actionButtons]="actionButtons"
  (actionClick)="onActionClick($event)"
></app-dynamic-table>

<app-pop-up
  [title]="'Delete Blog'"
  [message]="'Are you sure you want to delete this blog?'"
  [size]="'lg'"
  [isVisible]="isPopupVisible"
  (confirm)="confirmDelete()"
  (close)="closePopup()">
</app-pop-up>
